<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>{{ editingCategory ? 'Editar Categoría' : 'Nueva Categoría' }}</h2>
    <ion-item>
      <ion-input placeholder="Nombre de la categoría" [(ngModel)]="newCategoryName"></ion-input>
    </ion-item>
    
    <div class="ion-margin-top">
      <ion-button expand="block" (click)="saveCategory()" [disabled]="!newCategoryName">
        <ion-icon [name]="editingCategory ? 'save-outline' : 'add-outline'" slot="start"></ion-icon>
        {{ editingCategory ? 'Guardar Cambios' : 'Agregar Categoría' }}
      </ion-button>
      @if (editingCategory) {
        <ion-button expand="block" color="light" (click)="cancelEdit()">
          Cancelar
        </ion-button>
      }
    </div>

    <ion-list class="ion-margin-top">
      @for (cat of categories; track cat.id) {
        <ion-item>
          <ion-label>
            {{ cat.name }}
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="editCategory(cat)">
              <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteCategory(cat.id)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      } @empty {
        <ion-item lines="none" class="ion-text-center">
          <ion-label color="medium">No hay categorías creadas</ion-label>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
